# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/
*.log

# Production
build/
dist/
.expo/
.expo-shared/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db

# Mobile
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/
ios/
